
extends index.pug
block title
    title= title + " | " + mainContactTEXT
block mainContent
    -headMainTitle = mainContactTEXT
    -headMainDesc = mainContactDesc
    - bgObject = "image"
    -headMainImg = "../assets/headers/contact.jpg"
    include includes/_mainHeader
    section.sub-contact#subContact(class="h-max w-full relative pt-28 pb-28")
        .main-wrapper(class="relative w-full z-9")
            .content(class="w-full flex lg:flex-row items-center ")            
                div(class="w-full lg:w-col8 mt-4")
                    h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                        span.block(data-aos="fade-up")=getInTouchTEXT[0]
                    h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5" data-aos="fade-up" data-aos-delay="100")
                        p=getInTouchTEXT[1]       
            .content(class="flex items-start gap-7")
                form.job-register.contact-form(class="flex flex-wrap w-full mt-7")
                    - var m = 0, cl="" , cls=""
                    each ifeild in getintouchFieldsTEXT
                        -cls = ifeild[0] + "-wrapper"
                        -if(m % 2 ==0){cl = " ltr:pr-10 rtl:pr-10"}else{cl=" rtl:pr-10 ltr:pr-10"}
                        div(class="w-full lg:w-col6 " +cl  )
                            div.input-wrapper(class="w-full relative mt-9 "+ cls)
                                -if(ifeild[0] == "select"){
                                    //.after(class="arrow inline-block w-[15px] h-[15px] bg-contain bg-no-repeat bg-select-arrow absolute bottom-1 ltr:right-0 rtl:left-0 z-9")
                                    
                                    select(data-placeholder=contactOptionsTEXT[0],class="styled-select z-3 relative bg-transparent border-0 appearance-none outline-none w-full font-head 2xl:text-normal xl:text-normal2 lg:text-semismall text-small text-font pt-1 pb-1 ", required)       
                                        option
                                        each op in contactOptionsTEXT
                                            option=op
                                    
                                -}else{
                                    input(type=ifeild[0] ,required, class="z-3 relative bg-transparent border-0 appearance-none outline-none w-full font-head 2xl:text-normal xl:text-normal2 lg:text-semismall text-small text-font pt-1 pb-1")
                                -}    
                                label(class="2xl:text-normal xl:text-normal2 lg:text-semismall text-small text-font2 absolute top-1 left-0 z-1 font-head pointer-events-none ")
                                    span.opacity-50=ifeild[1]
                                    span.text-main.mr-2.ml-2 * 
                                .before(class="absolute bottom-0 right-0 left-0 w-auto  h-[1px] bg-grey8  ")                            
                                -if(ifeild[0] == "email"){msg = emailErorTEXT}else{msg=errorTEXT}
                        -m++   
                    div(class="w-full rtl:pr-10 ltr:pr-10")                            
                        div.input-wrapper(class="w-full relative mt-9 textarea-wrapper")
                            textarea(rowa="0", required,class="z-3 h-[36px] overflow-hidden relative bg-transparent border-0 appearance-none outline-none w-full font-head 2xl:text-normal xl:text-normal2 lg:text-semismall text-small text-font pt-1 pb-1")
                            label(class="2xl:text-normal xl:text-normal2 lg:text-semismall text-small text-font2 absolute top-1 left-0 z-1 font-head pointer-events-none ")
                                span.opacity-50= YourMessageTEXT
                                span.text-main.mr-2.ml-2 * 
                            .before(class="absolute bottom-0 right-0 left-0 w-auto  h-[1px] bg-grey8  ")  
                            .error-msg(class="font-head text-small text-red absolute left-0 -bottom-[22px] hidden lg:text-[10px] lg:-bottom-[16px]")=errorTEXT  
                    div(class="w-full")
                        div.input-wrapper(class="w-full relative mt-7")
                            button.btn(class="appearance-none min-w-[188px] outline-0 border-0 relative z-9 inline-block pt-3 pb-3 pr-8 pl-8 mt-12 mr-auto ml-auto bg-main text-white uppercase 2xl:text-normal xl:text-normal2 lg:text-small text-small font-normal group", type="submit" ,data-aos="fade-up", data-aos-delay="200")
                                    .before(class=" bg-dark w-0 top-0 bottom-0 h-full trans ltr:left-0 rtl:right-0 z-4 absolute ltr:group-hover:w-full rtl:group-hover:w-full ")
                                    span.relative.z-9=sendTEXT             

    section.main-locations#mainLocations(class="h-max w-full relative mt-7 mb-7")
        .main-wrapper(class="relative w-full z-9 ")
            .content(class="flex flex-wrap items-start gap-7 text-center bg-grey5 pt-28 pb-28")
                div(class="w-full lg:w-col8 xl:w-col6 mr-auto ml-auto -mb-7 text-center")
                    h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase" data-aos="fade-up")=locationHeadTEXT
                .all-facts(class="w-full flex flex-wrap xl:w-col8 ltr:xl:ml-col2 rtl:xl:mr-col2 justify-center items-center")   
                    each fact in locationsTEXT
                        .factItem(class="xl:w-col6 m-auto pr-6 pl-6 mt-20")
                            .icon(class="w-[118px] h-[118px] rounded-full table bg-second m-auto p-7 border-5 border-solid border-grey5", data-aos="fade-up") 
                                .icon-img.table-cell.w-full.h-full.align-middle
                                    img(src="assets/marker.svg", alt=fact[0] ,class="w-[35px] mr-auto ml-auto ", data-aos="zoom-in", data-aos-delay="300")
                            .cont 
                                .ti(class="block w-full mt-5 xxl:text-medium lg:text-morenormal text-normal font-normal font-body text-dark", data-aos="fade-up",  data-aos-delay="200")=fact[0]    
                                .desc(class="block w-full mt-5 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-normal  font-head text-font", data-aos="fade-up",  data-aos-delay="300")=fact[1]                          