include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
section.discover-more#_discoverMore(class="h-max w-full relative pt-28 pb-28")
    .main-wrapper(class="relative w-full z-9")
        .content(class="w-full flex lg:flex-row items-center ")            
            div(class="w-full lg:w-col6 mt-4")
                h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                    span.block(data-aos="fade-up")=discoverTEXT[0]
                h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5" data-aos="fade-up" data-aos-delay="100")
                    p=discoverTEXT[1]       
        //.content(class="w-full flex lg:flex-row mt-12 gap-7")
        .content(class="w-full flex lg:flex-wrap mt-6")
             each di in discoverItemsTEXT
                div(class="w-full lg:w-col4 ltr:pr-8 rtl:pl-8 group")
                    .w-full.discoverItem(class="border-b-3 border-solid mt-6", style="border-bottom-color:"+ di[2]) 
                        a.wrapper(href=productsURL,class="w-full block relative video-size overflow-hidden")
                            .after(class="bg-card-after-top h-1/2 opacity-80 w-full absolute left-0 bottom-0 z-5")
                            img(src=di[1], alt=di[0], class="absolute w-full h-full object-cover left-0 top-0 z-1 group-hover:scale-125 trans")
                            .cont(class="absolute z-9 bottom-9 ltr:left-9 rtl:right-14")
                                h3.ti( class="inline-flex text-white font-body items-center mt-8")
                                    span(class="inline-block flex-1 xxl:text-medium xl:text-morenormal text-normal leading-normal ltr:mr-3 rtl:ml-3 group-hover:text-main ltr:group-hover:mr-6 rtl:group-hover:ml-6 trans")=di[0] 
                                    span(class="inline-block arrow-right w-2")
                                        <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="8.52" height="14.21" viewBox="0 0 8.52 14.21">
                                            <path class="group-hover:stroke-main trans" data-name="Path 99277" d="M123.145,571.616l5.691,5.691L123.145,583" transform="translate(-121.73 -570.202)" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="2"/>
                                        </svg>