include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
   
.content(class="w-full flex flex-wrap")
    .w-full.InvestmentSlider#invSlider4(data-nav="#numslider4")
        - var clrs = [ "#EFB844", "#6FB455","#099BD6","#EFB844", "#6FB455"] 
        - var imgs = [ "assets/lubehub/bg/1.jpg", "assets/lubehub/bg/2.jpg","assets/lubehub/bg/3.jpg","assets/lubehub/bg/4.jpg", "assets/lubehub/bg/1.jpg"]       
        -for(var n = 0; n < 5 ; n++ ){                
            .newsItem.w-full
                .wrapper(class="w-full block relative group")
                    a.img(href=singleNewsURL,class="block w-full video-size relative overflow-hidden")
                        img(src=imgs[n], alt=newsTitleTEXT, class="w-full h-full object-cover trans group-hover:scale-125")
                        div(class="xl:text-normal lg:text-normal2 text-semismall font-body text-white bg-dark inline-block p-2 z-9 absolute bottom-0 ltr:right-0 rtl:left-0")=FinishedLubricantsTEXT
                    .date(class="absolute top-4 ltr:right-4 rtl:left-4 inline-block pr-4 pl-4 pt-3 pb-3 leading-5 text-center bg-dark text-white")
                        .block.day 20
                        .block.month=dateTEXT
                    .cont(class=" border-t-3 border-solid border-t-["+clrs[n]+"] pt-5 pb-5") 
                        a.ti(href=singleNewsURL,class="block w-full xxl:text-medium lg:text-morenormal text-normal font-normal font-body text-dark trans hover:text-main" data-aos="fade-up")=newsTitleTEXT 
                        .desc(class="block w-full mt-5 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-normal  font-head text-font" data-aos="fade-up" )=newsDescTEXT     
                        .btn-more(data-popup="#popupInvestment", class="inline-flex 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-body uppercase items-center mt-8 group open-popup")
                            span(class="inline-block ltr:mr-3 rtl:ml-3 group-hover:text-second group-hover:tracking-2 trans")=moreBtnTEXT
                            span(class="inline-block arrow-right w-2")
                                <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="8.52" height="14.21" viewBox="0 0 8.52 14.21">
                                    <path class="group-hover:stroke-second trans" data-name="Path 99277" d="M123.145,571.616l5.691,5.691L123.145,583" transform="translate(-121.73 -570.202)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                                </svg>
        -}                        
    .w-full.block.text-center.mt-12
        .arrows.inline-flex.mr-auto.ml-auto.w-max.items-center
            .prev.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group disabled") 
                <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.01" height="39.009" viewBox="0 0 39.01 39.009">
                    <g data-name="Group 87405" transform="translate(0)">
                        <g data-name="Ellipse 13925" transform="translate(0)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                        <ellipse class="group-hover:fill-second group-hover:stroke-second" cx="19.505" cy="19.504" rx="18.755" ry="18.754" fill="none"/>
                        </g>
                        <path class="group-hover:stroke-white" data-name="Path 86845" d="M12270.084,6451.851l-6.568,6.568,6.568,6.568" transform="translate(-12247.227 -6438.747)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                    </g>
                </svg>
            div(class="w-[110px] h-max mr-4 ml-4 overflow-hidden")    
                .proMum.newsMumSlider#numslider4(data-nav="#invSlider4") 

                    -for(var n = 1; n < 6 ; n++ ){        
                        - if(n < 10){n= "0" + n}
                        .numItem.h-max 
                            div(class="text-extranormal block font-head font-bold text-dark relative")
                                span.inline-block(class="pt-2 pb-2 pr-2 pl-2")=n    
                                span(class=" inline-block dash absolute mt-2 extranormal ltr:-right-1 rtl:-left-1") -      
                    -}             
            .next.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group ") 

                <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.009" height="39.009" viewBox="0 0 39.009 39.009">
                    <g data-name="Group 87404" transform="translate(-1059 -6755)">
                        <g data-name="Ellipse 13925" transform="translate(1059 6755)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                        <circle class="group-hover:fill-second group-hover:stroke-second" cx="19.504" cy="19.504" r="18.754" fill="none"/>
                        </g>
                        <path class="group-hover:stroke-white" data-name="Path 86845" d="M12263.516,6451.851l6.567,6.568-6.567,6.568" transform="translate(-11188.363 316.253)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                    </g>
                </svg>
