include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
section.latest-news#latestNews(class="h-max w-full relative pt-28 pb-28")
    .main-wrapper(class="relative w-full z-9")
        .content(class="w-full flex flex-wrap items-center ")            
            div(class="w-full lg:w-col8 xl:w-col7 mt-4")
                h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                    span.block(data-aos="fade-up")=latestNewsTEXT
                h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5" data-aos="fade-up" data-aos-delay="100")
                    p=latestNewsDesc    
            div(class="w-full lg:w-col4 xl:w-col5 mt-4 lg:mt-0")        
                a.btn(href=newsURL,class="inline-block relative pt-3 pb-3 pr-8 pl-8 mt-11 bg-main text-white uppercase 2xl:text-normal xl:text-normal2 lg:text-small text-small font-normal group ltr:lg:float-right rtl:lg:foat-left" data-aos="fade-up" data-aos-delay="200")
                    .before(class=" bg-dark w-0 top-0 bottom-0 h-full trans ltr:left-0 rtl:right-0 z-4 absolute ltr:group-hover:w-full rtl:group-hover:w-full ")
                    span.relative.z-9=exploreBtnTEXT      
        .content(class="w-full flex flex-wrap mt-12")
            .w-full.newsSlider(data-nav=".proMum")
                - var clrs = [ "#EFB844", "#6FB455","#099BD6","#EFB844", "#6FB455"]       
                -for(var n = 0; n < 5 ; n++ ){                
                    .newsItem.w-full.mt-5
                        .wrapper(class="w-full block relative group")
                            a.img(href=singleNewsURL,class="block w-full video-size overflow-hidden")
                                img(src="assets/news/1.jpg", alt=newsTitleTEXT, class="w-full h-full object-cover trans group-hover:scale-125")
                            .date(class="absolute top-4 ltr:right-4 rtl:left-4 inline-block pr-4 pl-4 pt-3 pb-3 leading-5 text-center bg-dark text-white")
                                .block.day 20
                                .block.month=dateTEXT
                            .cont(class=" border-t-3 border-solid border-t-["+clrs[n]+"] pt-5 pb-5") 
                                a.ti(href=singleNewsURL,class="block w-full xxl:text-medium lg:text-morenormal text-normal font-normal font-body text-dark trans hover:text-main" data-aos="fade-up")=newsTitleTEXT 
                                .desc(class="block w-full mt-5 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-normal  font-head text-font" data-aos="fade-up" )=newsDescTEXT     
                                a.btn-more(href=singleNewsURL, class="inline-flex 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-body uppercase items-center mt-8 group")
                                    span(class="inline-block ltr:mr-3 rtl:ml-3 group-hover:text-second group-hover:tracking-2 trans")=moreBtnTEXT
                                    span(class="inline-block arrow-right w-2")
                                        <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="8.52" height="14.21" viewBox="0 0 8.52 14.21">
                                            <path class="group-hover:stroke-second trans" data-name="Path 99277" d="M123.145,571.616l5.691,5.691L123.145,583" transform="translate(-121.73 -570.202)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                                        </svg>
                -}                        
            .w-full.block.text-center.mt-12
                .arrows.inline-flex.mr-auto.ml-auto.w-max.items-center
                    .prev.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group disabled") 
                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.01" height="39.009" viewBox="0 0 39.01 39.009">
                            <g data-name="Group 87405" transform="translate(0)">
                                <g data-name="Ellipse 13925" transform="translate(0)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <ellipse class="group-hover:fill-second group-hover:stroke-second" cx="19.505" cy="19.504" rx="18.755" ry="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12270.084,6451.851l-6.568,6.568,6.568,6.568" transform="translate(-12247.227 -6438.747)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
                    div(class="w-[110px] h-max mr-4 ml-4 overflow-hidden")    
                        .proMum.newsMumSlider.proMum(data-nav=".newsSlider") 

                            -for(var n = 1; n < 6 ; n++ ){        
                                - if(n < 10){n= "0" + n}
                                .numItem.h-max 
                                    div(class="text-extranormal block font-head font-bold text-dark relative")
                                        span.inline-block(class="pt-2 pb-2 pr-2 pl-2")=n    
                                        span(class=" inline-block dash absolute mt-2 extranormal ltr:-right-1 rtl:-left-1") -      
                            -}             
                    .next.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group ") 

                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.009" height="39.009" viewBox="0 0 39.009 39.009">
                            <g data-name="Group 87404" transform="translate(-1059 -6755)">
                                <g data-name="Ellipse 13925" transform="translate(1059 6755)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <circle class="group-hover:fill-second group-hover:stroke-second" cx="19.504" cy="19.504" r="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12263.516,6451.851l6.567,6.568-6.567,6.568" transform="translate(-11188.363 316.253)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
