include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
section.products-value#productsValue(class="h-max w-full relative bg-grey6 pt-28 pb-28")
    .main-wrapper(class="relative w-full z-9")
        .content(class="w-full flex lg:flex-row items-center ")            
            div(class="w-full lg:w-col8 mt-4")
                h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                    span.block(data-aos="fade-up")=productValueTEXT[0]
                h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5" data-aos="fade-up" data-aos-delay="100")
                    p=productValueTEXT[1]       
        .content(class="w-full flex flex-col mt-12 gap-7")
            .w-full.prosValueSlider(data-nav=".proValMumSlider")    
                each pv in productValItemsTEXT
                    .proValItem.w-full 
                        .wrapper.w-full 
                            .icon(class="w-[43px] rounded-full table", data-aos="fade-up") 
                                .icon-img.table-cell.w-full.align-middle
                                    img(src=pv[0], alt=pv[1] ,class="w-full", data-aos="zoom-in", data-aos-delay="300")
                            .cont.pt-5.pb-5(class="ltr:xl:pr-24 rtl:xl:pl-24") 
                                .ti(class="block w-full text-moremedium2 font-normal font-body text-dark", data-aos="fade-up",  data-aos-delay="200")=pv[1]    
                                .desc(class="block w-full mt-5 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-normal leading-6 font-head text-font", data-aos="fade-up",  data-aos-delay="300")=pv[2]
            
            .w-full.block.mt-12
                .arrows.inline-flex.mr-auto.ml-auto.w-max.items-center
                    .prev.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group disabled") 
                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.01" height="39.009" viewBox="0 0 39.01 39.009">
                            <g data-name="Group 87405" transform="translate(0)">
                                <g data-name="Ellipse 13925" transform="translate(0)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <ellipse class="group-hover:fill-second group-hover:stroke-second" cx="19.505" cy="19.504" rx="18.755" ry="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12270.084,6451.851l-6.568,6.568,6.568,6.568" transform="translate(-12247.227 -6438.747)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
                    div(class="w-[110px] h-max mr-4 ml-4 overflow-hidden")    
                        .proMum.proValMumSlider(data-nav=".prosValueSlider") 

                            -for(var n = 1; n < productValItemsTEXT.length ; n++ ){        
                                - if(n < 10){n= "0" + n}
                                .numItem.h-max 
                                    div(class="text-extranormal block font-head font-bold text-dark relative")
                                        span.inline-block(class="pt-2 pb-2 pr-2 pl-2")=n    
                                        span(class=" inline-block dash absolute mt-2 extranormal ltr:-right-1 rtl:-left-1") -      
                            -}             
                    .next.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group ") 

                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.009" height="39.009" viewBox="0 0 39.009 39.009">
                            <g data-name="Group 87404" transform="translate(-1059 -6755)">
                                <g data-name="Ellipse 13925" transform="translate(1059 6755)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <circle class="group-hover:fill-second group-hover:stroke-second" cx="19.504" cy="19.504" r="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12263.516,6451.851l6.567,6.568-6.567,6.568" transform="translate(-11188.363 316.253)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
