include _vars
-if(is_rtl == true){
    include _vars_rtl
-}else{
    include _vars_ltr
-}
section.resources#resources(class="h-max w-full relative bg-grey6 pt-28 pb-28 mb-28")
    .main-wrapper(class="relative w-full z-9")
        .content(class="w-full flex lg:flex-row items-center ")            
            div(class="w-full lg:w-col8 mt-4")
                h2(class="text-dark font-body font-normal xxl:text-big lg:text-moremedium2 text-moremedium uppercase")
                    span.block(data-aos="fade-up")=resourcesTEXT[0]
                h5(class="block w-full text-font font-head font-normal 2xl:text-normal xl:text-normal2 lg:text-semismall text-small leading-6 mt-5" data-aos="fade-up" data-aos-delay="100")
                    p=resourcesTEXT[1]       
        .content(class="w-full flex flex-col mt-12 gap-7")
            .w-full.resourcesSlider(data-nav=".resourcesMumSlider")    
                each pv in resourcesItemsTEXT
                    .resourcesItem.w-full 
                        a.wrapper.w-full.block(href="#",class="ltr:pr-6 rtl:pl-6", download) 
                            .icon(class="w-[118px] h-[118px] rounded-full bg-dark table text-center border-5 border-solid border-grey5", data-aos="fade-up") 
                                .icon-img(class=" table-cell w-[53px] align-middle")
                                    img(src=pv[0], alt=pv[1] ,class="w-[full]  mr-auto ml-auto ", data-aos="zoom-in", data-aos-delay="300")
                            .cont.pt-5.pb-5(class="ltr:xl:pr-24 rtl:xl:pl-24") 
                                .resTitle(class="w-full flex flex-row")
                                    h3.ti(class="block w-full flex-1 xxl:text-medium lg:text-morenormal text-normal font-normal font-body text-dark", data-aos="fade-up",  data-aos-delay="200")=pv[1]    
                                    .proDown(class="w-max")
                                        span(class="w-[17px] h-[17px] ltr:float-right rtl:float-left") 
                                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="19.665" height="19.665" viewBox="0 0 19.665 19.665">
                                                <g data-name="Group 43222" transform="translate(-3.5 -3.5)">
                                                    <path class="stroke-main group-hover:stroke-second" data-name="Path 38067" d="M22.165,22.5v3.926A1.963,1.963,0,0,1,20.2,28.388H6.463A1.963,1.963,0,0,1,4.5,26.426V22.5" transform="translate(0 -6.223)" fill="none" stroke="#efb844" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                    <path class="stroke-main group-hover:stroke-second" data-name="Path 38068" d="M10.5,15l4.907,4.907L20.314,15" transform="translate(-2.074 -3.63)" fill="none" stroke="#efb844" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                    <path class="stroke-main group-hover:stroke-second" data-name="Path 38069" d="M18,16.277V4.5" transform="translate(-4.667)" fill="none" stroke="#efb844" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                </g>
                                            </svg>
                                .desc(class="block w-full mt-5 2xl:text-normal xl:text-normal2 lg:text-semismall text-small font-normal leading-6 font-head text-font", data-aos="fade-up",  data-aos-delay="300")=pv[2]
            
            .w-full.block.mt-12
                .arrows.inline-flex.mr-auto.ml-auto.w-max.items-center
                    .prev.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group disabled") 
                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.01" height="39.009" viewBox="0 0 39.01 39.009">
                            <g data-name="Group 87405" transform="translate(0)">
                                <g data-name="Ellipse 13925" transform="translate(0)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <ellipse class="group-hover:fill-second group-hover:stroke-second" cx="19.505" cy="19.504" rx="18.755" ry="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12270.084,6451.851l-6.568,6.568,6.568,6.568" transform="translate(-12247.227 -6438.747)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
                    div(class="w-[110px] h-max mr-4 ml-4 overflow-hidden")    
                        .proMum.resourcesMumSlider(data-nav=".resourcesSlider") 

                            -for(var n = 1; n < resourcesItemsTEXT.length ; n++ ){        
                                - if(n < 10){n= "0" + n}
                                .numItem.h-max 
                                    div(class="text-extranormal block font-head font-bold text-dark relative")
                                        span.inline-block(class="pt-2 pb-2 pr-2 pl-2")=n    
                                        span(class=" inline-block dash absolute mt-2 extranormal ltr:-right-1 rtl:-left-1") -      
                            -}             
                    .next.inline-block(data-parent=".arrows" class="cursor-pointer w-[39px] group ") 

                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="39.009" height="39.009" viewBox="0 0 39.009 39.009">
                            <g data-name="Group 87404" transform="translate(-1059 -6755)">
                                <g data-name="Ellipse 13925" transform="translate(1059 6755)" fill="#f3f4f6" stroke="#1b335f" stroke-width="1.5">
                                <circle class="group-hover:fill-second group-hover:stroke-second" cx="19.504" cy="19.504" r="18.754" fill="none"/>
                                </g>
                                <path class="group-hover:stroke-white" data-name="Path 86845" d="M12263.516,6451.851l6.567,6.568-6.567,6.568" transform="translate(-11188.363 316.253)" fill="none" stroke="#1b335f" stroke-linecap="round" stroke-width="2"/>
                            </g>
                        </svg>
